{% extends 'base.html' %}


{% block body %}
<style type="text/css">
   .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}

	.image {
	  opacity: 1;
	  transition: .5s ease;
	  backface-visibility: hidden;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	
	}
	.image-group{
		position: relative;
  		text-align: center;
  		cursor:pointer;
	}

	.image-group:hover .image {
	  opacity: 0.3;
	}

	.image-group:hover .middle {
	  opacity: 1;
	}

	.text {
	  margin: auto;
	  background-color: #4CAF50;
	  color: white;
	  font-size: 15px;
	  padding: 15px;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">

			{% if success_message %}
				<h3 style="color:green; text-align: center;">{{success_message}}</h3>
			{% endif %}

			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}

				<!-- title -->
				<div class="form-group">
					<label for="id_heading">heading</label>
					<input class="form-control" type="text" name="heading" id="id_heading" placeholder="heading" value="{{form.initial.heading}}" required autofocus>
				</div>

				<!-- Body -->
				<div class="form-group">
					<label for="id_body">Content</label>
					<textarea class="form-control" rows="10" type="text" name="body" id="id_body" placeholder="Your Query here..." 
					required>{{form.initial.body}}</textarea>
				</div>
				{% for field in form %}
                <p>
            {% for error in field.errors %}
            <p style="color: red;">{{field}} : {{error}}</p>
            {% endfor %}
                </p>
                {% endfor %}
				<p>
                    Upload limit 2 mb for each file
                </p>

				<!-- Image -->
				<div class="form-group">
                    <label for="id_image">Change Report 1 
						{% if form.initial.image %}
						Previous Report 1 - <a href="{{form.initial.image.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image" id="id_image" accept="image/jpeg,image/png,application/pdf">
				</div>
				<a class="btn btn-primary mb-4" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">See More Reports</a>

                  <div class="collapse multi-collapse" id="multiCollapseExample1">
				<div class="form-group">
                    <label for="id_image2">Change Report 2
						{% if form.initial.image2 %}
						Previous Report 2 - <a href="{{form.initial.image2.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image2" id="id_image2" accept="image/jpeg,image/png,application/pdf">
				</div>
				
				<div class="form-group">
                    <label for="id_image3">Change Report 3
						{% if form.initial.image3 %}
						Previous Report 3 - <a href="{{form.initial.image3.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image3" id="id_image3" accept="image/jpeg,image/png,application/pdf">
				</div>
				
				<div class="form-group">
                    <label for="id_image4">Change Report 4
						{% if form.initial.image4 %}
						Previous Report 4 - <a href="{{form.initial.image4.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image4" id="id_image4" accept="image/jpeg,image/png,application/pdf">
				</div>
				
				<div class="form-group">
                    <label for="id_image5">Change Report 5
						{% if form.initial.image5 %}
						Previous Report 5 - <a href="{{form.initial.image5.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image5" id="id_image5" accept="image/jpeg,image/png,application/pdf">
				</div>
				
				<div class="form-group">
                    <label for="id_image6">Change Report 6
						{% if form.initial.image6 %}
						Previous Report 6 - <a href="{{form.initial.image6.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image6" id="id_image6" accept="image/jpeg,image/png,application/pdf">
				</div>
				
				<div class="form-group">
                    <label for="id_image7">Change Report 7
						{% if form.initial.image7 %}
						Previous Report 7 - <a href="{{form.initial.image7.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image7" id="id_image7" accept="image/jpeg,image/png,application/pdf">
				</div>
				
				<div class="form-group">
                    <label for="id_image8">Change Report 8
						{% if form.initial.image8 %}
						Previous Report 8 - <a href="{{form.initial.image8.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image8" id="id_image8" accept="image/jpeg,image/png,application/pdf">
				</div>
				
				<div class="form-group">
                    <label for="id_image9">Change Report 9
						{% if form.initial.image9 %}
						Previous Report 9 - <a href="{{form.initial.image9.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image9" id="id_image9" accept="image/jpeg,image/png,application/pdf">
				</div>
				
				<div class="form-group">
                    <label for="id_image10">Change Report 10
						{% if form.initial.image10 %}
						Previous Report 10 - <a href="{{form.initial.image10.url}}" target="_blank">Click Here</a>
						{% endif %}
					</label>
                    <br>
                    <input  type="file" name="image10" id="id_image10" accept="image/jpeg,image/png,application/pdf">
				</div>
				</div>
				

				{% for error in errors %}
							<p style="color: red">{{ error }}</p>
				{% endfor %}
				{% if form.non_field_errors %}
					<div style="color: red">
						<p>{{form.non_field_errors}}</p>
					</div>
				{% endif %}

				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Update</button>
			</form>	
		</div>
	</div>
</div>

{% endblock body %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function() {
		$('input[type=file]').each(function() {
			$(this).after(' <input type="checkbox" name="clear_image_'+$(this).attr('name')+'"/> Clear');
		});
	});
	</script>
{% endblock script %}