<div class="d-flex flex-column m-auto pagination mt-5">
    <nav aria-label="Page navigation">
    <ul class="pagination pg-grey justify-content-center">
        {% if queries.has_previous %}
        <li class="page-item">
            <a class="page-link"  href="?{% if user_query %}q={{user_query}}&{% endif %}page=1">&laquo; First</a>
          </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ queries.previous_page_number }}">&laquo; Previous</a>
            </li>
        {% endif %}

        {% if queries.paginator.num_pages != 1 %}
        {% for i in queries.paginator.page_range %}
            {% if queries.number == i %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% elif i < queries.number|add:"5" and i > queries.number|add:"-5" %}
                <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% endif %}
        
        {% if queries.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ queries.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
              <a class="page-link"  href="?page={{ queries.paginator.num_pages }}">Last &raquo;</a>
            </li>
        {% endif %}
    </ul>
    </nav>
    </div>
    <!-- end pagination-->